body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #03c45a, hsl(193, 57%, 63%), #20e791);
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

@keyframes snow{
0%{
transform: translateY(-10px);
}
100%{
transform: translateY(100vh);
}
}

.star{
    position: absolute;
    width: 2px; height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: snow linear infinite;
}

.card{
    width: 100%;
    max-width: 500px;
    min-width: 280px;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    display: flex;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    gap: 10px;
}

.card:hover {
    transform: translateY(-5px);
}


h1 {
    font-size: 1.5rem;
    background: linear-gradient(to right, #10b981, #6366f1);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    font-weight: 800;
}

h2 {
    font-size: 1rem;
    color: #111827;
    margin: 0;
}

.quote {
    font-style: italic;
    color: #4b5563;
    font-size: 0.85rem;
    margin: 0;
}


.flag {
    width: 120px;
    margin: 20px 0;
    border: 2px solid #10b981;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {transform: translateY(0) ;}
    50% {transform: translateY(-8px);}
}


footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #555;
}

.btn {
    padding: 5px 15px;
    margin: 3px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #10b981, #22d3ee);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 12px #22d3ee;
    transform: scale(1.05);
}
.btn:active{
    transform: scale(0.95);
}

#confetti{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 0;
}
.confetti {
    position: absolute;
    width: 8px;
    height: 8px;
    opacity: 0.9;
    animation: fall 3s linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg); opacity: 1; }
    100% {
        transform: translateY(100vh) rotate(360deg); opacity: 0;}
    }

    footer{
    font-size: 0.7rem;
    margin-top: 5px;
    }

    @media (min-width:576px){
  .card{padding:35px;}
  h1{font-size:1.8rem;}
  h2{font-size:1.1rem;}
  .quote{font-size:0.95rem;}
  .flag{width:90px;}
  .btn{padding:6px 18px;}
}

@media (min-width:768px){
  .card{max-width:600px;padding:40px;}
  h1{font-size:2rem;}
  h2{font-size:1.2rem;}
  .quote{font-size:1rem;}
  .flag{width:100px;}
  .btn{padding:7px 20px;}
}

